<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyull.jwt.jwt.mapper.user.UserMapper">
  <select id="findOneWithAuthoritiesByUsername" resultType="com.gyull.jwt.jwt.security.domain.member.Member">
    SELECT 
    m.mem_id, 
    m.mem_pw, 
    m.mem_name, 
    m.activated, 
    m.created_at, 
    m.recent_at,
    ua.authority_name
FROM 
    member m
INNER JOIN 
    user_authority ua ON m.mem_idx = ua.mem_idx
WHERE 
    m.mem_id = #{mem_id};
  </select>
  <insert id="save">
    INSERT INTO member (memId, memPw, memName)
    VALUES (memId, memPw, memName);
  </insert>
</mapper>